{
    "ユーザID": {
        "Name": "画面上に表示したいユーザ名",
        "tarotDate": "2024/01/01",
        "omikujiDate": "2024/01/01"
    },
    "ユーザID": {
        "Name": "画面上に表示したいユーザ名",
        "tarotDate": "2024/01/01",
        "omikujiDate": "2024/001/01"
    }
}